{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear tarea</title>
    <link rel="stylesheet" href="{% static 'css/tasks/styles.css' %}">
</head>
<body>

<nav class="navbar">
    <a href="{% url 'tasks:home' %}" class="navbar-logo">
        TaskManager
    </a>

</nav>

<main class="main-content">
    <h1>Nueva tarea</h1>

    <form method="post" action="{% url 'tasks:create' %}">
        {% csrf_token %}

        <div class="form-group">
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>

        <div class="form-group">
            {{ form.description.label_tag }}
            {{ form.description }}
        </div>

        <button type="submit" class="btn">Crear tarea</button>
    </form>
</main>

</body>
</html>